<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | <%= title %></title>
</head>
<body>
    <%- include('./partials/nav-bar.ejs') %>

    <div class="post content">
        <h1><%= post.title %></h1><br>
        <p><%= post.body %></p>
    </div>

    <a class="post delete" data-doc="<%= post.id %>">
        Delete post
    </a>

    <script>
        const trashCan = document.querySelector('a.post.delete')

        trashCan.addEventListener('click', event => {
            fetch(`/posts/${trashCan.dataset.doc}`, { method: 'DELETE' })
                // FIXME: 'response' object doesn't seem right
                .then(response => { response.json() })
                .then(data => { window.location.href = data.redirect })
                .catch(error => { console.log(error) })
        })
    </script>
</body>
</html>
